@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
/* @import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css"; */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
/* @import "@nextui-org/react/dist/styles.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./offerTempType1.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --BoxShaow: 1px 1px 7px 0px #c0c0c0;
  --gray_color: #707070;
  --green: #1ab293;
  --spatikaBlack: #050505;
  --spatikaDarkRed: #610C27 ;
  --spatikaWarmGrey: #AC9C8D ;
  --spatikalightPink: #E3C1B4 ;
  --spatikaOffWhite: #DDD9CE ;
  --spatikaightGray: #EFECE9;
}
.text-foreground{
  color: white;
  font-weight: 500;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.patuaOne,
* {
  /* font-family: "Patua One", serif; */
  font-weight: 400;
  font-style: normal;
  /* color: var(--spatikaBlack); */
}

::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c0c0c0; 
}

@font-face {
  font-family: 'Gallant';
  src: url('../assets/fonts/Gallant-Regular.eot');
  src: local('Gallant Regular'), local('Gallant-Regular'),
      url('../assets/fonts/Gallant-Regular.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Gallant-Regular.woff2') format('woff2'),
      url('../assets/fonts/Gallant-Regular.woff') format('woff'),
      url('../assets/fonts/Gallant-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}
.brushEffectText {
  font-family: "Heaters", sans-serif;
  /* font-size: 2rem; */
  font-weight: bold;
}

.brushEffectText {
  font-family: "Heaters", sans-serif;
  /* font-size: 2rem; */
  font-weight: bold;
}

/* css for landing page  */
.leaveImageOnBgparent {
  height: calc(100vh - 88.53px);
}

.box_shadow_with_padding {
  box-shadow: var(--BoxShaow);
  border-radius: 8px;
  padding: 1rem 1.5rem;
}
.box_shadow {
  box-shadow: var(--BoxShaow);
  border-radius: 8px;
}
.product_list {
  width: 95%;
  margin: auto;
}
.textGreen {
  color: #1ab293;
}
.swiper-slide {
  height: auto !important;
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}
.slick-prev:before,
.slick-next:before {
  color: #0a0a0a;
}
.sectionHeading {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: black;
  padding: 0 32px;
  margin: 2rem 0;
}
.carouselHight {
  height: calc(100vh - 64px);
}
.servicesAccordian .h-divider{
height: 0 !important;
}
.spatikaHeader header{
  max-width: unset !important;
}
.testimonialCarousel .slick-prev:before{
left: -52px;
}
.testimonialCarousel .slick-next:before{
  left: 32px;
  }

  .testimonialCarousel .slick-prev:before, .testimonialCarousel .slick-next:before,.testimonialCarousel .slick-prev:after, .testimonialCarousel .slick-next:after {
color: white !important; 
font-family: unset !important;
font-size: 32px !important;
border: 1px solid red;
border-radius: 50%;
width: 40px;
height: 40px;
background-color: #f43f5e;
display: block;
z-index: 100000000;
position: relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
